* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}
.main-section {
  background-color: hsl(204, 43%, 93%);
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;

  width: 620px;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.241);
}

h3 {
  font-weight: 700;
}

.community h2 {
  color: rgba(43, 179, 177, 1)  ;
  font-weight: 700;
  padding-bottom: 20px;
}

.community {
  background: #fff;
  grid-column: 1 /3;
  border-radius: 10px 10px 0 0;
}

.community h3 {
  color:  rgb(202, 236, 51);
  padding-bottom: 20px;
}

.subscription {
  background: rgba(43, 179, 177, 1);
  border-radius: 0 0 0 10px;
}

.subscription p {
  color: rgb(231, 229, 229);
}

.per-month {
  font-size: 1rem;
  padding-top: 10px;
  display: flex;
  align-items: center;
}

.subscription h3 {
  color: #fff;
  font-weight: 700;
  padding-top: 10px;
}
span {
  padding: 0px 10px 0px 0;
  color: #fff;
  font-size: 2rem;
  font-weight: 700;
}

.subscription .data {
  margin-top: 10px;
}

div {
  padding: 2rem;
}

.data {
  color: #fff;
  font-size: 1rem;
  line-height: 1.6;
}
.data1 {
  color: rgb(184, 184, 184);
}

.why-us .data3 {
  color: rgb(231, 229, 229);
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
}
.subscription .data2 {
  color: rgb(231, 229, 229);
}

.why-us {
  background: rgba(74, 190, 189, 1);
  border-radius: 0 0 10px 0;
  padding-bottom: 1rem;
}

.why-us h3 {
  padding-top: 10px;
  color: #fff;
  font-weight: 700;
  padding-bottom: 15px;
}
.btn {
  background: rgba(191, 223, 50, 1);
  padding: 1rem;
  border: none;
  width: 100%;
  text-align: center;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  box-shadow: 10px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.05);
  margin-top: 20px;
  font-size: 1rem;
  margin-bottom: 1.2rem;
}

.btn:hover {
  background-color: hsl(71, 73%, 49%);
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.241);
}

@media (max-width: 778px) {
  * {
    overflow-y: auto;
  }
  .main-section {
    padding: 80px 30px;
    height: auto;
  }
  .main-container {
    display: grid;
    grid-template-columns: 1fr;

    position: static;
    top: 0;
  }

  .community {
    background: #fff;
    grid-column: 1;

    border-radius: 10px 10px 0 0;
  }

  .subscription {
    border-radius: 0;
  }

  .why-us {
    border-radius: 0 0 10px 10px;
  }
}

/* Footer */

.attribution {
  background-color: hsl(204, 43%, 93%);
  font-size: 0.9rem;
  text-align: center;
  padding: 0px 30px 100px;
}

.attribution a {
  /* color: hsl(228, 45%, 44%);  */
  color: crimson;
}
